
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-5">


        <h3 class="bg-primary text-white p-3">
          [{{getName()}}] to do list
        </h3>
      
        <div class="input-grup">
          <input type="text" class="form-control">
          <div class="input-group-append">
            <button class="btn btn-primary">Add</button>
          </div>
        </div>


        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Num</th>
              <th>Desc</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let item of getItems(); let i=index">
              <th>{{i+1}}</th>
              <th>{{item.desc}}</th>
              <th [ngSwitch]="item.action">
                <span *ngSwitchCase="true">
                  evet
                </span>
                <span *ngSwitchCase="false">
                  hyr
                </span>
              </th>
           </tr>
          </tbody>
        </table>



      </div>
    </div>
  </div>
